@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body{
  margin:0;
  padding: 0 32px;
}
h1,h2{
  font-family: 'Roboto', sans-serif;
  text-align:center;
}

h1{
  font-weight: 900;
}

h2{
  text-decoration: underline;
}

p{
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  font-weight: 400;
}

section, header {
  max-width: 1200px;
  margin: 0 auto;
}