body{
  margin:0;
  padding: 0 32px;
}
h1,h2{
  font-family: 'Roboto', sans-serif;
  text-align:center;
}

h2{
  text-decoration: underline;
}

p{
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

section, header {
  max-width: 1200px;
  margin: 0 auto;
}