@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

/* Clases comunes */

.pointer {
    cursor: pointer;
}

.container {
    max-width: 80%;
    padding: 0 2rem;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
    align-items: center;
}

.row-reverse {
    flex-flow: row-reverse;
}


.scroll-container{
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
} 

.scroll-top{
    background-color: var(--bluesea);
    z-index: 10;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    border-radius: 50%;
}
/*
    Variables
*/

:root {
    --purple : #6b58cd;
    --wgreen : #89e3db;
    --bluesea : #221857;
}