
/* Estilos de la sección Hero */

.hero {
    background-color: var(--purple);
    height: 762px;
    padding-top: 9rem;
    margin-bottom: 10rem;
    position: relative;
}

.hero-content {
    justify-content: space-between;
}

.hero-content article {
    max-width: 600px;
}

.hero-content aside figure {
    width: 500px;
}

.hero-content aside figure img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.hero-content-title {
    font-size: 3.6rem;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.hero-content-paragraph {
    font-size: 1.4rem;
    color: #FFFFFF;
    margin-bottom: 2.6rem;
}

.hero-content-btn {
    font-size: 1.1rem;
    color: var(--bluesea);
    background-color: var(--wgreen);
    padding: 17px 60px;
    min-height: 60px;
    border-radius: 2rem;
    font-weight: 700;
    border: none;
}

.hero-content-btn:hover {
    transform: scale(1.1);
    transition-duration: .5s;
    background-color: var(--bluesea);
    border: 2px solid var(--wgreen);
    color: var(--wgreen);
}

.hero-background-img{
    position: absolute;
    top:0;
    right: 0;
    z-index: 0;
}
