
/* Estilos de la sección Header */

.header {
    background-color: var(--bluesea);
    width: 100%;
    z-index: 1;
    color: #FFFF;
    position: sticky;
    top: 0;
    z-index: 3;
}

.header-nav {
    width: 100vw;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}

.header-nav nav{
    display: flex;
    align-items: center;
}

.header-nav ul {
    list-style: none;
    gap: 2rem;
}

.header-nav ul li a {
    text-decoration: none;
    color: #FFFF;
}
