.one-two{
    margin-bottom:6rem;
}

.one-two-numbers{
    max-width: 700px;
    justify-content: space-between;
    position: relative;
}

.line::after{
    content: '';
    width:  100%;
    height: 3px;
    border-radius: 1rem;
    background-color: #89e3db;
    position: absolute;
    max-width: 516px;
    left: 92px;
}

.one-two-num{
    color: #221857;
    background-color: #89e3db;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 700;
    width: 78px;
    height: 78px;
}

.one-two-content {
    margin-top: 2rem;
}

.one-two-content-text {
    max-width: 520px;
    margin-right: 4rem;
    padding: 1rem 0rem;
}

.one-two-content-text p {
    font-size: 2.5rem;
    font-weight: 700;
    color: #221857;
}

.most {
    background-color: #6b58cd;
    border-radius: 2rem;
    height: fit-content;
    padding: 1rem 1.5rem;
}

.most p {
    color: #FFFF;
}